.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333333;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  letter-spacing: 1em;
}

.App-intro {
  font-size: large;
  letter-spacing: 0.1em;
}

.row {
  margin: 5% 0px 0px 0px !important;
}

tspan {
  font-family: inherit;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
